USE [master]
GO
/****** Object:  Database [CaloriePal]    Script Date: 13/04/2024 10:00:41 pm ******/
CREATE DATABASE [CaloriePal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CaloriePal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CALORIETRACK\MSSQL\DATA\CaloriePal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CaloriePal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CALORIETRACK\MSSQL\DATA\CaloriePal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CaloriePal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CaloriePal]
GO
/****** Object:  Table [dbo].[BMR]    Script Date: 13/04/2024 10:00:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BMR](
	[User_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Height] [decimal](6, 2) NOT NULL,
	[Weight] [decimal](6, 2) NOT NULL,
	[BMR_Value] [decimal](8, 3) NULL,
 CONSTRAINT [PK_BMR] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calori_User]    Script Date: 13/04/2024 10:00:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calori_User](
	[User_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Last_Name] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[BMR_Value] [decimal](8, 3) NULL,
 CONSTRAINT [PK_Calori_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food_Items]    Script Date: 13/04/2024 10:00:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food_Items](
	[Food_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Food_Name] [varchar](50) NOT NULL,
	[Calories] [decimal](7, 2) NOT NULL,
 CONSTRAINT [PK_Food_Items] PRIMARY KEY CLUSTERED 
(
	[Food_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goals]    Script Date: 13/04/2024 10:00:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals](
	[Goal_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Goal_Notes] [varchar](128) NOT NULL,
	[Goal_LeveL] [decimal](3, 2) NOT NULL,
 CONSTRAINT [PK_Goals] PRIMARY KEY CLUSTERED 
(
	[Goal_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Meals]    Script Date: 13/04/2024 10:00:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Meals](
	[User_Meal_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_ID] [bigint] NOT NULL,
	[Meal_Date] [date] NOT NULL,
	[Food_Item_ID] [bigint] NOT NULL,
	[Calories] [decimal](7, 2) NOT NULL,
 CONSTRAINT [PK_User_Meals] PRIMARY KEY CLUSTERED 
(
	[User_Meal_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BMR] ON 

INSERT [dbo].[BMR] ([User_ID], [Age], [Gender], [Height], [Weight], [BMR_Value]) VALUES (18, 25, N'M', CAST(180.00 AS Decimal(6, 2)), CAST(65.00 AS Decimal(6, 2)), NULL)
INSERT [dbo].[BMR] ([User_ID], [Age], [Gender], [Height], [Weight], [BMR_Value]) VALUES (19, 25, N'M', CAST(65.00 AS Decimal(6, 2)), CAST(180.00 AS Decimal(6, 2)), NULL)
INSERT [dbo].[BMR] ([User_ID], [Age], [Gender], [Height], [Weight], [BMR_Value]) VALUES (20, 25, N'M', CAST(180.00 AS Decimal(6, 2)), CAST(65.00 AS Decimal(6, 2)), NULL)
SET IDENTITY_INSERT [dbo].[BMR] OFF
GO
SET IDENTITY_INSERT [dbo].[Calori_User] ON 

INSERT [dbo].[Calori_User] ([User_ID], [First_Name], [Last_Name], [Username], [Password], [BMR_Value]) VALUES (18, N'Yan', N'Aranez', N'rebbie', N'rebbie123', NULL)
INSERT [dbo].[Calori_User] ([User_ID], [First_Name], [Last_Name], [Username], [Password], [BMR_Value]) VALUES (19, N'Mico', N'Aramez', N'rebbisteer', N'rebbie123', CAST(2669.832 AS Decimal(8, 3)))
INSERT [dbo].[Calori_User] ([User_ID], [First_Name], [Last_Name], [Username], [Password], [BMR_Value]) VALUES (20, N'Julius', N'mico', N'rebbisteer', N'rebbie123', CAST(1681.062 AS Decimal(8, 3)))
SET IDENTITY_INSERT [dbo].[Calori_User] OFF
GO
ALTER TABLE [dbo].[BMR]  WITH CHECK ADD  CONSTRAINT [FK_BMR_Calori_User1] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Calori_User] ([User_ID])
GO
ALTER TABLE [dbo].[BMR] CHECK CONSTRAINT [FK_BMR_Calori_User1]
GO
ALTER TABLE [dbo].[User_Meals]  WITH CHECK ADD  CONSTRAINT [FK_User_Meals_Calori_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Calori_User] ([User_ID])
GO
ALTER TABLE [dbo].[User_Meals] CHECK CONSTRAINT [FK_User_Meals_Calori_User]
GO
ALTER TABLE [dbo].[User_Meals]  WITH CHECK ADD  CONSTRAINT [FK_User_Meals_Food_Items] FOREIGN KEY([Food_Item_ID])
REFERENCES [dbo].[Food_Items] ([Food_ID])
GO
ALTER TABLE [dbo].[User_Meals] CHECK CONSTRAINT [FK_User_Meals_Food_Items]
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateBMR]    Script Date: 13/04/2024 10:00:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CalculateBMR](
	@user_id BIGINT
)

AS

BEGIN
	DECLARE @age INT;
	DECLARE @gen CHAR(1);
	DECLARE @hei DECIMAL(6,2);  
	DECLARE @wei DECIMAL(6,2);  
	DECLARE @bmr DECIMAL(8,3);

	SELECT @age = Age, @gen = Gender, @hei = Height, @wei = Weight FROM BMR WHERE User_ID = @user_id;

	IF @gen = 'M' 
		SET @bmr = 13.397 * @wei + 4.799 * @hei - 5.677 * @age + 88.362; 
		ELSE
		SET @bmr = 9.247 * @wei + 3.098 * @hei - 4.330 * @age + 447.593;  

	-- Update the BMR_Value column in the Calori_User table
	
	UPDATE Calori_User
	SET BMR_Value = @bmr
	WHERE User_ID = @user_id;

	SELECT @bmr AS BMR_Value;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCaloriUser]    Script Date: 13/04/2024 10:00:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_CreateCaloriUser](
	@fn VARCHAR(50),
	@ln VARCHAR(50),
	@un VARCHAR(50),
	@pw VARCHAR(50),
	@age int,
	@gen CHAR(1),
	@hei DECIMAL(6,2),
	@wei DECIMAL(6,2)
)

AS

BEGIN
	SET NOCOUNT ON;

	INSERT INTO dbo.Calori_User(First_Name, Last_Name, Username, Password) VALUES (@fn, @ln, @un, @pw);
	DECLARE @uid BIGINT = SCOPE_IDENTITY();
	SET IDENTITY_INSERT dbo.BMR ON;
	INSERT INTO dbo.BMR(User_ID, Age, Gender, Height, Weight) VALUES (@uid, @age, @gen, @hei, @wei);
	SET IDENTITY_INSERT dbo.BMR OFF;

	--
	EXEC sp_CalculateBMR @uid;  

	SET NOCOUNT OFF;


END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginCaloriUser]    Script Date: 13/04/2024 10:00:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LoginCaloriUser](
	@un VARCHAR(50),
	@pw VARCHAR(50)
)


AS


BEGIN	
	SET NOCOUNT ON;

	DECLARE @user_ID BIGINT;

	SELECT TOP 1 @user_ID = USER_ID from Calori_User WHERE Username = @user_ID;
	
	IF @user_ID IS NOT NULL
		BEGIN
			DECLARE @pw_stored VARCHAR(50);
			SELECT @pw_stored = Password FROM Calori_User WHERE User_ID = @user_ID;
			SET @pw_stored = HASHBYTES('SHA2_256',@pw_stored);

			DECLARE @pw_input VARCHAR(MAX);
			SET @pw_input = HASHBYTES('SHA2_256',@pw);

			IF @pw_input = @pw_stored
			BEGIN
				SELECT 1 As LoginSuccess;
			END
			ELSE
			BEGIN
				SELECT 0 AS Loginsuccess;
			END

		END
		ELSE
		BEGIN
			SELECT 0 AS Loginsuccess;
		END

	SET NOCOUNT OFF;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReadCaloriUser]    Script Date: 13/04/2024 10:00:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ReadCaloriUser]

AS


BEGIN
SET NOCOUNT ON;

SELECT * FROM dbo.Calori_User;

SET NOCOUNT OFF;


END
GO
USE [master]
GO
